<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mobile Logger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}">
{#       <link rel="stylesheet" type="text/css" href="{% static 'events/thermometer.css' %}">#}

    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
</head>
<body>
<header class="h1"><a href="/" style="text-decoration:none; color: #0f0f0f">Mobile Logger</a></header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                    <a class="btn btn-outline-secondary">Crear circuito</a>
                </li>
                <li class="nav-item dropdown">
                    <a onclick="myFunction()" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sesiones</a>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        {% for session in session_list %}
                            <a href="/eventos/{{ session.token }}/">{{ session.token }}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a onclick="dropAnalisis()" class="nav-link dropdown-toggle" href="#"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Análisis</a>
                    <div id="dropAnalisis" class="dropdown-content">
                        <a class="dropdown-item" href="/tiempo_eventos_sitio">Tiempo promedio y conteo eventos por sitio</a>
                        <a class="dropdown-item" href="/tiempo_eventos_sitio_tarea">Tiempo promedio y conteo eventos por sitio y tarea</a>
    <a class="dropdown-item" href="/tiempo_eventos_sitio_sesiones">Tiempo promedio y conteo eventos por sitio y sesiones</a>
    <a class="dropdown-item" href="/tiempo_eventos_sitio_tipo">Tiempo promedio y conteo eventos por tarea y sitio y tipo</a>
                            <a class="dropdown-item" href="/metrica"><i class="fi-xnluxl-thermometer"></i> Métricas de usabilidad</a>


                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="{% static 'boot/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'boot/js/popper.min.js' %}"></script>
<script src="{% static 'boot/js/bootstrap.min.js' %}"></script>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    function dropAnalisis() {
        document.getElementById("dropAnalisis").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
<script src="{% static 'events/scripts.js' %}"></script>
{% block content %}

    <div class="card text-center  align-middle" style="margin-top: 20%">
  <div class="card-header">
    Bienvenid@
  </div>
  <div class="card-body">
    <h5 class="card-title">Home</h5>
    <p class="card-text">Mediante la herramienta mobile logger podrá crear circuitos de prueba para sitios offline, analizar sesiones individuales y obtener métricas descriptivas del conjunto de las muestras.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

</div>

{% endblock %}

  <!-- ... other HTML ... -->

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js" crossorigin></script>

  <!-- Load our React component. -->

  <script src="{% static 'events/thermo.js' %}"></script>
</body>
</html>