{% extends "events/base.html" %}
{% block content %}

    <script>

        chatSocket.onmessage = function (e) {
            json = JSON.parse(e.data).message;
            // Find a <table> element with id="myTable":
            var table = document.getElementById(json.type);

// Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(-1);

// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            if (json.type === "misclick") {
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);

// Add some text to the new cells:
                cell1.innerHTML = json.x;
                cell2.innerHTML = json.y;
                let datetime = new Date(json.timestamp);
                let formatted_date = datetime.getDate().toString().padStart(2, "0") + "-" + (datetime.getMonth() + 1).toString().padStart(2, "0") + "-" + datetime.getFullYear().toString().substr(-2) + " " + datetime.getHours() + ":" + datetime.getMinutes().toString().padStart(2, "0") + ":" + datetime.getSeconds().toString().padStart(2, "0")
                let elementos = "";
                json.elements.forEach(e=> elementos += e.xpath + "\n");
                cell3.innerHTML = formatted_date;
                 cell4.setAttribute("data-container", "body")
                cell4.setAttribute("data-toggle", "popover")
                cell4.setAttribute("data-content", elementos )
                cell4.setAttribute("data-placement", "left")
               cell4.innerHTML = json.elements[0].xpath
                $(function () {
  $('[data-toggle="popover"]').popover({html: true})
})

            } else if (json.type === "pinchzoom") {
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                let elementos = "";
                json.elements.forEach(e=> elementos += e.xpath + "\n");
                let datetime = new Date(json.timestamp);
                let formatted_date = datetime.getDate().toString().padStart(2, "0") + "-" + (datetime.getMonth() + 1).toString().padStart(2, "0") + "-" + datetime.getFullYear().toString().substr(-2) + " " + datetime.getHours() + ":" + datetime.getMinutes().toString().padStart(2, "0") + ":" + datetime.getSeconds().toString().padStart(2, "0")
                cell1.innerHTML = formatted_date;
                cell2.setAttribute("data-container", "body")
                cell2.setAttribute("data-toggle", "popover")
                cell2.setAttribute("data-content", elementos )
                cell2.setAttribute("data-placement", "left")
                $(function () {
  $('[data-toggle="popover"]').popover({html: true})
})

               cell2.innerHTML = json.elements[0].xpath

            } else if (json.type === "scroll") {
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                let datetime = new Date(json.timestamp);
                let formatted_date = datetime.getDate().toString().padStart(2, "0") + "-" + (datetime.getMonth() + 1).toString().padStart(2, "0") + "-" + datetime.getFullYear().toString().substr(-2) + " " + datetime.getHours() + ":" + datetime.getMinutes().toString().padStart(2, "0") + ":" + datetime.getSeconds().toString().padStart(2, "0")
                cell1.innerHTML = formatted_date;
                cell2.innerHTML = json["scroll_points"];
                cell3.innerHTML = json["scroll_objects"];
            } else if (json.type === "orientationchange") {
                console.log(json)
                var cell1 = row.insertCell(0);
                let datetime = new Date(json.timestamp);
                let formatted_date = datetime.getDate().toString().padStart(2, "0") + "-" + (datetime.getMonth() + 1).toString().padStart(2, "0") + "-" + datetime.getFullYear().toString().substr(-2) + " " + datetime.getHours() + ":" + datetime.getMinutes().toString().padStart(2, "0") + ":" + datetime.getSeconds().toString().padStart(2, "0")
                cell1.innerHTML = formatted_date;

            } else if (json.type === "device") {
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);
                var cell6 = row.insertCell(5);
                var cell7 = row.insertCell(6);
                var cell8 = row.insertCell(7);
                var cell9 = row.insertCell(8);
                cell1.innerHTML = json["phone"];
                cell2.innerHTML = json["mobile"];
                cell3.innerHTML = json["tablet"];
                cell4.innerHTML = json["user_agent"];
                cell5.innerHTML = json["build"];
                cell6.innerHTML = json["webkit"];
                cell7.innerHTML = json["os"];
                cell8.innerHTML = json["height"];
                cell9.innerHTML = json["width"];

            }else if (json.type === "click") {
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);

// Add some text to the new cells:
                cell1.innerHTML = json.x;
                cell2.innerHTML = json.y;
                let datetime = new Date(json.timestamp);
                let formatted_date = datetime.getDate().toString().padStart(2, "0") + "-" + (datetime.getMonth() + 1).toString().padStart(2, "0") + "-" + datetime.getFullYear().toString().substr(-2) + " " + datetime.getHours() + ":" + datetime.getMinutes().toString().padStart(2, "0") + ":" + datetime.getSeconds().toString().padStart(2, "0")
                let elementos = "";
                json.elements.forEach(e=> elementos += e.xpath + "\n");
                cell3.innerHTML = formatted_date;
                 cell4.setAttribute("data-container", "body")
                cell4.setAttribute("data-toggle", "popover")
                cell4.setAttribute("data-content", elementos )
                cell4.setAttribute("data-placement", "left")
               cell4.innerHTML = json.elements[0].xpath
                $(function () {
  $('[data-toggle="popover"]').popover({html: true})
})

            }


        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
            const chatSocket = new WebSocket(
                'wss://'
                + window.location.host
                + '/ws/'
                + session
                + '/'
            );
        };
    </script>
        <section>
        <h2 class="display-6">Clicks</h2>
        <table class="table-bordered" id="click">
            <th>
                x
            </th>
            <th>
                y
            </th>
            <th>
                timestamp
            </th>
            <th>
                elements
            </th>
            <tbody>
            {% for click in click_list %}
                <tr>
                    <td>{{ click.x }}</td>
                    <td>{{ click.y }}</td>
                    <td>{{ click.timestamp }}</td>
                    <td data-container="body" data-toggle="popover"
                        data-placement="left" data-content="{% for element in  click.elements.all %}
                        {{ element.xpath }}<br>
                    {% endfor %}">
                        {{ click.elements.first.xpath }}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h2 class="display-6">MisClicks</h2>
        <table class="table-bordered" id="misclick">
            <th>
                x
            </th>
            <th>
                y
            </th>
            <th>
                timestamp
            </th>
            <th>
                elements
            </th>
            <tbody>
            {% for misclicks in misclicks_list %}
                <tr>
                    <td>{{ misclicks.x }}</td>
                    <td>{{ misclicks.y }}</td>
                    <td>{{ misclicks.timestamp }}</td>
                    <td data-container="body" data-toggle="popover"
                        data-placement="left" data-content="{% for element in  misclicks.elements.all %}
                        {{ element.xpath }}<br>
                    {% endfor %}">
                        {{ misclicks.elements.first.xpath }}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h2 class="display-6">PinchZoom</h2>
        <table class="table-bordered" id="pinchzoom">
            <th>
                timestamp
            </th>
            <th>
                elements
            </th>
            {% for pinchzoom in pinchzoom_list %}
                <tr>
                    <td>{{ pinchzoom.timestamp }}</td>
                    <td data-container="body" data-toggle="popover"
                        data-placement="left" data-content="{% for element in  pinchzoom.elements.all %}
                        {{ element.xpath }}<br>
                    {% endfor %}">
                        {{ pinchzoom.elements.first.xpath }}

                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <section>
        <h2 class="display-6">Scroll</h2>
        <table class="table-bordered" id="scroll">
            <th>
                timestamp
            </th>
            <th>
                scroll_points
            </th>
            <th>
                scroll_objects
            </th>
            {% for scroll in scroll_list %}
                <tr>
                    <td>{{ scroll.timestamp }}</td>
                    <td>{{ scroll.scroll_points }}</td>
                    <td>{{ scroll.scroll_objects }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <section>
        <h2 class="display-6">Orientation change</h2>
        <table class="table-bordered" id="orientationchange">
            <th>
                timestamp
            </th>

            {% for orientation_change in orientation_change_list %}
                <tr>
                    <td>{{ orientation_change.timestamp }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>



{% endblock %}
