<!DOCTYPE html>
{% load static %}


<html>
<head>
    <meta charset="utf-8">
    <title>Mobile Logger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'events/timeline.css' %}">


</head>
<body>
<header class="h1"><a href="/" style="text-decoration: none; color: #0f0f0f">Mobile Logger</a></header>
<div class="btn-group mb-2" role="group" aria-label="Button group with nested dropdown">
    {% if request.path != "/" %}
        <a class="btn btn-primary" href="/reset/{{ session }}/">
            RESET
        </a>
    {% else %}
        <a class="btn btn-primary" href="/reset/index/">
            RESET
        </a>
    {% endif %}

    <div class="btn-group" role="group">

        <div class="dropdown" id="drop">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Vistas
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/eventos/{{ session }}/">Por evento</a></li>
                <li><a class="dropdown-item" href="/unificada/{{ session }}/">Unificada</a></li>
                <li><a class="dropdown-item" href="/timeline/{{ session }}/">Timeline</a></li>
            </ul>
        </div>
        {#        <div class="dropdown">#}
        {#            <button onclick="myFunction()" class="btn btn-secondary dropdown-toggle">Comparar</button>#}
        {#            <div id="myDropdown" class="dropdown-content">#}
        {#                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">#}
        {#                {% for session in session_list %}#}
        {#                    <a onclick="insertExtra({{ session_token }}) ">{{ session.token }}</a>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#        </div>#}
    </div>

</div>
</div>
<script>
    var path = window.location.pathname
    var array = path.split("/")
    const session = array[2]
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + session
        + '/'
    );
    chatSocket.onmessage = function (e) {
        json = JSON.parse(e.data).message;
    }

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/'
            + session
            + '/'
        );
    };
</script>


<section id="timeline">
    <div id="lineCont">
        <div id="line"></div>
        <div id="span">Date Placeholder</div>
    </div>
    <div id="mainCont">
    </div>

</section>

<iframe id="iframe" name="myIframe" frameborder="0" width="500" height="300" allowfullscreen></iframe>

<section>
    <h2 class="display-6">Device</h2>
    <table class="table-bordered" id="device">
        <th>
            phone
        </th>
        <th>
            mobile
        </th>
        <th>
            tablet
        </th>
        <th>
            user_agent
        </th>
        <th>
            build
        </th>
        <th>
            webkit
        </th>
        <th>
            os
        </th>
        <th>
            height
        </th>
        <th>
            width
        </th>
        {% if device != None %}

            <tr>
                <td>{{ device.phone }}</td>
                <td>{{ device.mobile }}</td>
                <td>{{ device.tablet }}</td>
                <td>{{ device.user_agent }}</td>

                <td>{{ device.build }}</td>

                <td>{{ device.webkit }}</td>

                <td>{{ device.os }}</td>

                <td>{{ device.height }}</td>

                <td>{{ device.width }}</td>


            </tr>
        {% endif %}
    </table>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    //Sample dates
    let dataJSON;
    dataJSON = JSON.parse("{{ dataJSON|escapejs }}");


    function color(type) {
        let color;
        switch (type) {
            case "misclick":
                color = "#e97162";
                break;
            case "scroll":
                color = "blue";
                break;
            case "pinchzoom":
                color = "yellow";
                break;
            case "orientationchange":
                color = "green";
                break;
            case "click":
                color = "#96FF33"
        }
        return color
    }

    //Main function. Draw your circles.
    function makeCircles() {
        //Forget the timeline if there's only one date. Who needs it!?
        dataJSON.sort(function (a, b) {
            return new Date(a.timestamp).getTime() - new Date(b.timestamp).getTime()
        });
        var length = dataJSON.length
        if (length == 0) {
            $("#line").hide();

            $("#mainCont").show().text("No se registran eventos");

        } else if (length < 2) {
            $("#line").hide();
            $("#mainCont").show().text(dataJSON[0].type);
            //This is what you really want.
        } else if (length >= 2) {
            //Set day, month and year variables for the math
            $("#line").show();
            $("#span").hide();
            var last = dataJSON[length - 1]

            let datetimeFirst = new Date(dataJSON[0].timestamp);
            let formattedDateFirst = datetimeFirst.getDate().toString().padStart(2, "0") + "-" + (datetimeFirst.getMonth() + 1).toString().padStart(2, "0") + "-" + datetimeFirst.getFullYear().toString().substr(-2) + " " + datetimeFirst.getHours() + ":" + datetimeFirst.getMinutes().toString().padStart(2, "0") + ":" + datetimeFirst.getSeconds().toString().padStart(2, "0")
            var first = formattedDateFirst;
            let datetimeLast = new Date(last.timestamp);
            let formattedDateLast = datetimeLast.getDate().toString().padStart(2, "0") + "-" + (datetimeLast.getMonth() + 1).toString().padStart(2, "0") + "-" + datetimeLast.getFullYear().toString().substr(-2) + " " + datetimeLast.getHours() + ":" + datetimeLast.getMinutes().toString().padStart(2, "0") + ":" + datetimeLast.getSeconds().toString().padStart(2, "0")
            var lastDate = formattedDateLast;
            var firstTime = first.split(' ')[1]
            let firstHour = parseInt(firstTime.split(':')[0]);
            let firstMin = parseInt(firstTime.split(':')[1]);
            let firstSec = parseInt(firstTime.split(':')[2])

            var lastTime = lastDate.split(' ')[1]
            var lastHour = parseInt(lastTime.split(':')[0]);
            var lastMin = parseInt(lastTime.split(':')[1]);
            var lastSec = parseInt(lastTime.split(':')[2])


            //Integer representation of the last day. The first day is represnted as 0
            let lastInt = datetimeLast.getTime() - datetimeFirst.getTime();


            //Draw first date circle
            $("#line").append('<div class="circle" id="circle0" style="left: ' + 0 + '%;background: ' + color(dataJSON[0].type) + ' "><div class="popupSpan">' + dataJSON[0].type + '</div></div>');

            function xpath(event) {
                let elemento;

                if (event.elements.length == 0) {
                    elemento = ""
                } else {
                    elemento = event.elements[0].xpath
                }
                return elemento
            }

            $("#mainCont").append('<span id="span0"  class="center">' + dataJSON[0].type + '<br>' + "Sitio " + dataJSON[0].sitio + '<br>' + "Tarea " + dataJSON[0].tarea + '<br>' + formattedDateFirst + '<br>' + '<div id ="xpath0">' + xpath(dataJSON[0]) + '</div>' + '</span>');
            elementos = "";

            jsonElements = dataJSON[0].elements;
            if (jsonElements != undefined) {
                jsonElements.forEach(e => elementos += e.xpath + "\n");
            }

            var xPop = document.getElementById("xpath0");
            xPop.setAttribute("data-container", "body");
            xPop.setAttribute("data-toggle", "popover");
            xPop.setAttribute("data-content", elementos);
            xPop.setAttribute("data-placement", "bottom");
            xPop.setAttribute("data-trigger", "focus");
            xPop.setAttribute("tabindex", "0");

            //Loop through middle dates
            for (i = 1; i < length - 1; i++) {
                let datetimeThis = new Date(dataJSON[i].timestamp);
                let formattedDateThis = datetimeThis.getDate().toString().padStart(2, "0") + "-" + (datetimeThis.getMonth() + 1).toString().padStart(2, "0") + "-" + datetimeThis.getFullYear().toString().substr(-2) + " " + datetimeThis.getHours() + ":" + datetimeThis.getMinutes().toString().padStart(2, "0") + ":" + datetimeThis.getSeconds().toString().padStart(2, "0")
                var thisDate = formattedDateThis;
                var thisTime = thisDate.split(' ')[1]
                var thisHour = parseInt(thisTime.split(':')[0]);
                var thisMin = parseInt(thisTime.split(':')[1]);
                var thisSec = parseInt(thisTime.split(':')[2])

                //Integer representation of the date
                var thisInt = datetimeThis.getTime() - datetimeFirst.getTime();

                //Integer relative to the first and last dates
                var relativeInt = thisInt / lastInt;

                //Draw the date circle
                let background =
                    $("#line").append('<div class="circle" id="circle' + i + '" style="left: ' + relativeInt * 100 + '%; background: ' + color(dataJSON[i].type) + '"><div class="popupSpan">' + dataJSON[i].type + '</div></div>');
                let elementos = "";
                console.log(dataJSON[i]);
                console.log(dataJSON[i].elements.length);
                let jsonElements = dataJSON[i].elements;
                if (jsonElements.length > 0) {
                    jsonElements.forEach(e => elementos += e.xpath + "\n");
                }
                $("#mainCont").append('<span id="span' + i + '" class="right" >' + dataJSON[i].type + '<br>' + "Sitio " + dataJSON[i].sitio + '<br>' +  "Tarea " + dataJSON[i].tarea + '<br>' + formattedDateThis + '<br>' + '<div id ="xpath' + i + '">' + xpath(dataJSON[i]) + '</div>' + '</span>');
                var xPop = document.getElementById("xpath" + i);
                xPop.setAttribute("data-container", "body");
                xPop.setAttribute("data-toggle", "popover");
                xPop.setAttribute("data-content", elementos);
                xPop.setAttribute("data-placement", "bottom");
                xPop.setAttribute("data-trigger", "focus");
                xPop.setAttribute("tabindex", "0");


            }

            //Draw the last date circle
            $("#line").append('<div class="circle" id="circle' + i + '" style="left: ' + 100 + '%; background: ' + color(last.type) + '"><div class="popupSpan">' + last.type + '</div></div>');
            elementos = "";

            jsonElements = dataJSON[i].elements;
            if (jsonElements != undefined) {
                jsonElements.forEach(e => elementos += e.xpath + "\n");
            }
            $("#mainCont").append('<span id="span' + i + '" class="right">' + last.type + '<br>' + "Sitio " + dataJSON[i].sitio + '<br>' + "Tarea " + dataJSON[i].tarea + '<br>' + formattedDateLast + '<br>' + '<div id ="xpath' + i + '">' + xpath(dataJSON[i]) + '</div>' + '</span>');

            var xPop = document.getElementById("xpath" + i);
            xPop.setAttribute("data-container", "body");
            xPop.setAttribute("data-toggle", "popover");
            xPop.setAttribute("data-content", elementos);
            xPop.setAttribute("data-placement", "bottom");
            xPop.setAttribute("data-trigger", "focus");
            xPop.setAttribute("tabindex", "0");

        }

        $(function () {
            $('[data-toggle="popover"]').popover({html: true})
        })
        $('.dropdown-toggle').dropdown()

        $('.popover-dismiss').popover({
            trigger: 'focus',
            container: 'body'
        })

        $(".circle:first").addClass("active");
    }

    makeCircles();

    $(".circle").mouseenter(function () {
        $(this).addClass("hover");
    });

    $(".circle").mouseleave(function () {
        $(this).removeClass("hover");
    });

    $(".circle").click(function () {
        var spanNum = $(this).attr("id");
        selectDate(spanNum);
    });

    function selectDate(selector) {
        $selector = "#" + selector;
        $spanSelector = $selector.replace("circle", "span");
        $xpathSelector = $selector.replace("circle", "xpath");
        var current = $selector.replace("circle", "");

        $(".active").removeClass("active");
        $($selector).addClass("active");

        if ($($spanSelector).hasClass("right")) {
            $(".center").removeClass("center").addClass("left")
            $($spanSelector).addClass("center");
            $($spanSelector).removeClass("right")
        } else if ($($spanSelector).hasClass("left")) {
            $(".center").removeClass("center").addClass("right");
            $($spanSelector).addClass("center");
            $($spanSelector).removeClass("left");
        }
        ;
    };

    chatSocket.onmessage = function (e) {
        json = JSON.parse(e.data).message;
        if (json.type !== "device") {
            $("#line").empty()
            $("#mainCont").empty()
            dataJSON.push(json)
            makeCircles();

            $(".circle").mouseenter(function () {
                $(this).addClass("hover");
            });

            $(".circle").mouseleave(function () {
                $(this).removeClass("hover");
            });

            $(".circle").click(function () {
                var spanNum = $(this).attr("id");
                selectDate(spanNum);
            });
        } else {

            var table = document.getElementById("device");

// Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var cell7 = row.insertCell(6);
            var cell8 = row.insertCell(7);
            var cell9 = row.insertCell(8);
            cell1.innerHTML = json["phone"];
            cell2.innerHTML = json["mobile"];
            cell3.innerHTML = json["tablet"];
            cell4.innerHTML = json["user_agent"];
            cell5.innerHTML = json["build"];
            cell6.innerHTML = json["webkit"];
            cell7.innerHTML = json["os"];
            cell8.innerHTML = json["height"];
            cell9.innerHTML = json["width"];

        }
    }

    /* When the user clicks on the button,
     toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    function insertExtra(session) {
        $('#iframe').attr('src', 'http://127.0.0.1:8000/timeline_extra/' + session + '/');
    }


</script>
</body>
</html>
