body {
    margin: 0;
}

header {
    text-align: center;
    background: #DEE2E6;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bolder;
    padding: 5px;
}

.buttonHolder {
    text-align: start;
}

button {
    background-color: #343A40; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;


}

table, th, td {
    table-layout: fixed;
    margin-bottom: 2em;
    height: 1em;
}

[data-toggle="popover"]:hover {
    overflow: hidden;
    white-space: normal;
    color: #0a58ca;
}

#drop {
    /*display: inline;*/
    /*margin-left: 5em;*/
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow: hidden;
}

#lineCont {
    width: 100%;
    height: 20%;
}

#line {
    height: 6px;
    width: 70%;
    background: black;
    border-radius: 5px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#span {
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 25%;
    text-align: center;
    color: black;
}

.circle {
    width: 20px;
    height: 20px;
    background: #e97162;
    border-radius: 15px;
    position: absolute;
    top: -7px;
    border: 3px solid black;
    cursor: pointer;
}

.circle:before {
    content: "";
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 100%;
    top: 2px;
    left: 2px;
    display: none;
}

.circle .popupSpan {
    width: auto;
    height: auto;
    padding: 10px;
    white-space: nowrap;
    display: inline-block;
    color: black;
    position: absolute;
    top: 20px;
    left: -75px;
    display: none;
    transition: all 0.1s ease-out;
}

.circle.hover:before, .circle.active:before {
    display: block;
}

.circle.hover .popupSpan, .circle.active .popupSpan {
    display: block;
}

.circle.active .popupSpan {
    top: -40px;
}

#mainCont {
    height: 80%;
    width: 100%;
    position: relative;
    color: black;
    font-size: 62px;
    text-align: center;
    transition: all 0.2s ease-out;
}

#mainCont span {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%;
    transition: all 0.2s ease-out;
}

#mainCont span.right {
    left: 200%;
}

#mainCont span.center {
    left: 0% !important;
}

#mainCont span.left {
    left: -100%;
}

#timeline {
    margin-top: 10vh;
    margin-bottom: 10vh;
}